.first_spin {
  animation: App-logo-spin infinite 50ms linear;
  pointer-events: none;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.second_spin {
  animation: App-logo-spin infinite 50ms linear;
  pointer-events: none;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.third_spin {
  animation: App-logo-spin infinite 50ms linear;
  pointer-events: none;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

@keyframes first_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes second_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes third_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  height: 50px;
  width: 100px;
  font-size: 18px
}

.slot-machine-title {
  text-align: center;
  color: #282c34;
}

.box {
  width: 700px;
  margin: 50px auto;
  background-color: #D5DEE5;
  padding: 25px;
  border-radius: 5px;
  border: 3px solid #0B0033;
  transition: box-shadow 0.2s ease-in-out;
}

.spinner-container {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 25px;
  background-color: #D5DEE5;
  border: 3px solid #0B0033;
  border-radius: 5px;
  transition: box-shadow 0.2s ease-in-out;
}

.spinner-wrapper {
  height: 220px;
  width: 230px;
  position: relative;
  border: 3px solid #0B0033;
  border-radius: 5px;
  overflow: hidden;
}